ETHERSCAN_API_KEY="" # this must be an arbiscan api key
STAKING_TOKEN_ADDRESS=""
PRIVATE_KEY=""
RPC_URL="https://arb-sepolia.g.alchemy.com/v2/<ALCHEMY_API_KEY>"
VERIFIER_URL="https://api-sepolia.arbiscan.io/api"
